# Xcode
.DS_Store
xcuserdata/
*.xcworkspace
!default.xcworkspace

# CocoaPods
Pods/
RestaurantOrderVerifier/Pods/

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.dylib
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
*.pkl
*.h5

# IDE
.idea/
.vscode/

# Specific large files to exclude
python_server/venv/
RestaurantOrderVerifier/Pods/GoogleMaps/Maps/Frameworks/
.env
